CONFIG_SERVER_PROFILE_ACTIVE=native

#github config repository (CONFIG_SERVER_PROFILE_ACTIVE=git)
#GIT_URI=uri

#github ssh key (CONFIG_SERVER_PROFILE_ACTIVE=git)
#SSH_GIT_PRIVATE_KEY=

PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin

PASSENGER_DB_USERNAME=passenger_user
PASSENGER_DB_PASSWORD=passenger_password
PASSENGER_DB_NAME=passenger_db
PASSENGER_DB_URL=jdbc:postgresql://passenger_db:5432/passenger_db

DRIVER_DB_USERNAME=driver_user
DRIVER_DB_PASSWORD=driver_password
DRIVER_DB_NAME=driver_db
DRIVER_DB_URL=jdbc:postgresql://passenger_db:5432/driver_db

RATING_DB_USERNAME=rating_user
RATING_DB_PASSWORD=rating_password
RATING_DB_NAME=rating_db
RATING_DB_URL=jdbc:postgresql://rating_db:5432/rating_db

RIDE_DB_USERNAME=ride_user
RIDE_DB_PASSWORD=ride_password
RIDE_DB_NAME=ride_db
RIDE_DB_URL=jdbc:postgresql://ride-db:5432/ride_db

AUTH_DB_USERNAME=auth_user
AUTH_DB_PASSWORD=auth_password
AUTH_DB_NAME=auth_db
AUTH_DB_URL=jdbc:postgresql://auth-db:5432/auth_db

REDIS_HOST=redis
REDIS_PORT=6379

EUREKA_PORT=8761
EUREKA_DEFAULT_ZONE=http://eureka-server:8761/eureka

CONFIG_SERVER_URL=http://config-server:8888

CONFIG_SERVER_PORT=8888
PASSENGER_SERVICE_PORT=5008
DRIVER_SERVICE_PORT=5003
RATING_SERVICE_PORT=5007
RIDE_SERVICE_PORT=5009
AUTH_SERVICE_PORT=5006
API_GATEWAY_PORT=8080

MAPBOX_API_KEY=

ES_HOST=http://elasticsearch:9200
ES_ENABLED=true

LOGSTASH_ENABLED=true
LOGSTASH_DESTINATION=http://logstash:5044

JAEGER_URL:http://jaeger:4318/v1/traces

KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=auth-service
KEYCLOAK_CLIENT_ID=spring-auth-service
KEYCLOAK_CLIENT_SECRET=tPoQfrdmyKpPi6EiVUIsiSOhPcnoVbxR

KAFKA_URLS=kafka:9092
